# Database
# For development (PostgreSQL):
# DATABASE_URL="postgresql://username:password@localhost:5432/mydb"
# For production (Vercel Postgres):
# DATABASE_URL="postgres://username:password@host:port/database"
DATABASE_URL="postgresql://username:password@localhost:5432/arqui_asm"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Google AI
GOOGLE_API_KEY="your-google-ai-api-key"